In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import numpy as np

# UTILS DIRECTORY
import importlib
import sys
import os
collocation2_path = os.path.abspath(os.path.join('..', 'utils'))

if collocation2_path not in sys.path:
    sys.path.append(collocation2_path)

import data_generation 
importlib.reload(data_generation)
generate_ode_data = data_generation.generate_ode_data

In [5]:
df_train = pd.read_csv('../data/daily_climate/DailyDelhiClimateTrain.csv')
df_test = pd.read_csv('../data/daily_climate/DailyDelhiClimateTest.csv')

df = pd.concat([df_train, df_test])
print(f"Rows: {df.shape[0]}; Columns: {df.shape[1]}")

df['date'] = pd.to_datetime(df['date']) # convert the date column to a datetime object
df.set_index('date', inplace=True) # convert the date column into the index
display(df.head(    ))

Rows: 1576; Columns: 5

             meantemp   humidity  wind_speed  meanpressure
date
2013-01-01  10.000000  84.500000    0.000000   1015.666667
2013-01-02   7.400000  92.000000    2.980000   1017.800000
2013-01-03   7.166667  87.000000    4.633333   1018.666667
2013-01-04   8.666667  71.333333    1.233333   1017.166667
2013-01-05   6.000000  86.833333    3.700000   1016.500000